---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import BecomeMember from "../components/BecomeMember.astro";
import DynamicGallery from "../components/DynamicGallery.jsx";

const supabaseUrl = import.meta.env.PUBLIC_SUPABASE_URL;
const supabaseKey = import.meta.env.PUBLIC_SUPABASE_ANON_KEY;
---

<Layout
  title="Galerie"
  description="Entdecke die schoensten Momente und Aktivitaeten unseres Fischervereins in unserer Bildergalerie."
>
  <section class="bg-[var(--color-secondary)] text-white">
    <div class="h-[180px]"></div>
    <div class="container mx-auto px-4">
      <div class="w-full min-[992px]:max-w-[50%]">
        <h1 class="text-4xl font-bold mb-4">Galerie</h1>
        <p class="text-lg mb-6">
          Werfen Sie einen Blick auf unsere Galerie, um die schönsten Momente
          und Aktivitäten unseres Fischervereins zu entdecken. Von spannenden
          Angelwettbewerben bis hin zu geselligen Vereinsveranstaltungen – hier
          finden Sie einen Einblick in unser Vereinsleben.
        </p>
        <Badge text="Gemeinschaft" />
        <Badge text="Nachhaltigkeit" />
        <Badge text="Tradition" />
      </div>

      <div class="h-[120px]"></div>
    </div>
  </section>
  <div class="h-[100px]"></div>
  <div class="container mx-auto px-4">
    <DynamicGallery
      client:load
      supabaseUrl={supabaseUrl}
      supabaseKey={supabaseKey}
    />
  </div>

  <div class="h-[80px]"></div>

  <BecomeMember title="Teil unseres Vereins werden" />

  <div class="h-[80px]"></div>
</Layout>
