---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Startseite">
  <div class="heading-hero">
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-4xl font-bold mb-4">Welcome to My Astro Site</h1>
      <p class="text-lg text-gray-700">
        This is the homepage of my Astro site. Explore the content and enjoy
        your stay!
      </p>
    </div>
  </div>
</Layout>
