---
// optional JS/TS logic here
const { title } = Astro.props;
import MuiButton from "./MuiButton.jsx";
---

<!-- src/components/BecomeMember.astro -->
<div class="container mx-auto px-4">
  <div
    class="become-member-block bg-[var(--color-secondary)] text-white rounded-lg shadow-md px-8 text-center"
  >
    <div class="h-[50px] md:h-[100px]"></div>
    <h2 class="mb-6">{title}</h2>
    <p>
      Werde Teil unserer Gemeinschaft. Genieße Zugang zu exklusiven Gewässern,
      <br/>
      Events und einer großartigen Gemeinschaft. Einfach Kontakt aufnehmen!
    </p>
    <div class="mt-8 flex justify-center"> <MuiButton client:load text="Kontakt aufnehmen →" btnType="white" size="large" href="/verein" /> </div>
    <div class="h-[50px] md:h-[100px]"></div>
  </div>
</div>
